<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.noodle.dao.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.noodle.pojo.po.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="article_name" property="articleName" jdbcType="VARCHAR" />
    <result column="article_time" property="articleTime" jdbcType="TIMESTAMP" />
    <result column="article_click" property="articleClick" jdbcType="DECIMAL" />
    <result column="article_type_id" property="articleTypeId" jdbcType="INTEGER" />
    <result column="article_substr" property="articleSubstr" jdbcType="VARCHAR" />
    <result column="article_content" property="articleContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    article_id, article_name, article_time, article_click, article_type_id, article_substr, 
    article_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.noodle.pojo.po.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    order by article_id desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.noodle.pojo.po.ArticleExample" >
    delete from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.noodle.pojo.po.Article" >
    insert into article (article_id, article_name, article_time, 
      article_click, article_type_id, article_substr, 
      article_content)
    values (#{articleId,jdbcType=INTEGER}, #{articleName,jdbcType=VARCHAR}, #{articleTime,jdbcType=TIMESTAMP}, 
      #{articleClick,jdbcType=DECIMAL}, #{articleTypeId,jdbcType=INTEGER}, #{articleSubstr,jdbcType=VARCHAR}, 
      #{articleContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.noodle.pojo.po.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleName != null" >
        article_name,
      </if>
      <if test="articleTime != null" >
        article_time,
      </if>
      <if test="articleClick != null" >
        article_click,
      </if>
      <if test="articleTypeId != null" >
        article_type_id,
      </if>
      <if test="articleSubstr != null" >
        article_substr,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleName != null" >
        #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null" >
        #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleClick != null" >
        #{articleClick,jdbcType=DECIMAL},
      </if>
      <if test="articleTypeId != null" >
        #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="articleSubstr != null" >
        #{articleSubstr,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.noodle.pojo.po.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article
    <set >
      <if test="record.articleId != null" >
        article_id = #{record.articleId,jdbcType=INTEGER},
      </if>
      <if test="record.articleName != null" >
        article_name = #{record.articleName,jdbcType=VARCHAR},
      </if>
      <if test="record.articleTime != null" >
        article_time = #{record.articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleClick != null" >
        article_click = #{record.articleClick,jdbcType=DECIMAL},
      </if>
      <if test="record.articleTypeId != null" >
        article_type_id = #{record.articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.articleSubstr != null" >
        article_substr = #{record.articleSubstr,jdbcType=VARCHAR},
      </if>
      <if test="record.articleContent != null" >
        article_content = #{record.articleContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article
    set article_id = #{record.articleId,jdbcType=INTEGER},
      article_name = #{record.articleName,jdbcType=VARCHAR},
      article_time = #{record.articleTime,jdbcType=TIMESTAMP},
      article_click = #{record.articleClick,jdbcType=DECIMAL},
      article_type_id = #{record.articleTypeId,jdbcType=INTEGER},
      article_substr = #{record.articleSubstr,jdbcType=VARCHAR},
      article_content = #{record.articleContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.noodle.pojo.po.Article" >
    update article
    <set >
      <if test="articleName != null" >
        article_name = #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null" >
        article_time = #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleClick != null" >
        article_click = #{articleClick,jdbcType=DECIMAL},
      </if>
      <if test="articleTypeId != null" >
        article_type_id = #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="articleSubstr != null" >
        article_substr = #{articleSubstr,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.noodle.pojo.po.Article" >
    update article
    set article_name = #{articleName,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=TIMESTAMP},
      article_click = #{articleClick,jdbcType=DECIMAL},
      article_type_id = #{articleTypeId,jdbcType=INTEGER},
      article_substr = #{articleSubstr,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>